.container h1 {
    text-align: center;
}

.container h1{
    padding-top: 2rem;
}

form{
    padding-right: 2rem;
    padding-left: 2rem;
}

form input{
    border-radius:  8px 8px 8px 8px;
}

.btn-primary{
    margin-top: 1rem;
    position: relative;
    width: 6em;
}

.card{
    border: none;
    margin: 1rem;
}

.card-body{
    background-color:#D3D3D3;
    border-radius: 8px 8px 8px 8px;
    padding-right: 2rem;
    padding-left: 2rem;
}